<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404323843888-hoqbjrc4n772b7eqjvhdi8492uif31f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404323843888-hoqbjrc4n772b7eqjvhdi8492uif31f1</string>
	<key>API_KEY</key>
	<string>AIzaSyDWmmKiPjgEmzxqoRxdpfv5kbjvb6X5vaY</string>
	<key>GCM_SENDER_ID</key>
	<string>404323843888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.crna</string>
	<key>PROJECT_ID</key>
	<string>crna-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>crna-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404323843888:ios:065b0245c0a659cf3e52f5</string>
</dict>
</plist>